@import "../../styles/variables.scss";

.header {
      height: $headerHeight;
      width: 100%;

      padding: 0 1rem;
      transition: 0.3s ease all;

      position: fixed;
      top: 0;

      background-color: $bg;
      z-index: 2;

      @include breakpoint(md) {
            padding: 0 3rem;
      }

      .content {
            overflow: hidden;
            margin: 0 auto;
            max-width: 1920px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 100;

            .logo {
                  font-size: 40px;
                  text-decoration: none;
                  font-family: $Allison;
                  color: black;
                  cursor: pointer;
            }

            .nav {
                  top: 0;
                  right: 100%;
                  bottom: 0;
                  width: 100%;
                  height: 100vh;
                  position: fixed;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  backdrop-filter: blur(2px);
                  background: rgba($black, 0.8);
                  transform: translate(0);
                  transition: 0.3s ease transform;
                  font-family: $Roboto;
                  font-size: 18px;
                  text-transform: uppercase;
                  font-weight: 300;
                  z-index: 2;

                  @include breakpoint(smallScreen) {
                        a {
                              color: white !important;
                        }
                  }

                  @include breakpoint(md) {
                        transform: none;
                        flex-direction: row;
                        background: transparent;
                        width: auto;
                        height: 100%;
                        position: static;
                  }
                  ul {
                        list-style: none;
                        margin-top: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: $spacing-lg;

                        @include breakpoint(md) {
                              flex-direction: row;
                              align-items: center;
                              margin-bottom: 0;
                              margin-right: calc(0.5rem + #{$spacing-md});
                        }
                        li {
                              cursor: pointer;
                              &:not(:last-child) {
                                    margin-bottom: $spacing-md;
                                    @include breakpoint(md) {
                                          margin-bottom: 0;
                                          margin-right: $spacing-md;
                                    }
                              }
                              a {
                                    text-decoration: none;
                                    color: inherit;
                                    position: relative;
                                    padding: 0.2em 0;
                                    transition: 0.3s ease all;
                                    border-radius: $contactBorderRadius;
                                    margin-right: $spacing-xl;
                                    width: 90px;

                                    &.activeLink {
                                          font-weight: 600;
                                    }

                                    &.liContact {
                                          border: 1px solid $black;
                                          padding: 0.5em 1em;

                                          &::after {
                                                content: none;
                                          }
                                          &:hover {
                                                font-weight: 900;
                                          }
                                    }
                                    @include breakpoint(smallScreen) {
                                          &.liContact {
                                                border: 0;
                                          }
                                    }

                                    &::after {
                                          content: "";
                                          position: absolute;
                                          width: 100%;
                                          transform: scaleX(0);
                                          height: 2px;
                                          bottom: 0;
                                          left: 0;
                                          background-color: $black;
                                          transform-origin: bottom right;
                                          transition: transform 0.25s ease-out;
                                    }

                                    &:hover::after {
                                          transform: scaleX(1);
                                          transform-origin: bottom left;
                                    }
                              }
                        }
                  }

                  &.isMenu {
                        transform: translate(100%) !important;
                        color: $white;
                        font-size: 26px;
                  }
                  &.withoutMenu {
                        transform: none;
                        color: $black;
                  }
            }

            .toggle {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  font-size: 2rem;
                  transition: 0.3s ease all;
                  position: relative;
                  z-index: 3;

                  &:hover {
                        color: $light-blue;
                  }

                  .close {
                        @include breakpoint(smallScreen) {
                              color: white;
                        }
                  }
                  @include breakpoint(burger) {
                        display: none;
                  }
            }
      }
}
